/**
 * 全局背景修改
 */



/* 浅色模式 */
:root {
  --vp-c-bg: rgba(255, 255, 255, 0); /* 把全局颜色改了 */
  --vp-home-body-bg-image: url('/bg.png');
  --vp-home-body-bg-image-gradient: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  body {
    background-image: var(--vp-home-body-bg-image),
    var(--vp-home-body-bg-image-gradient);
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
    background-blend-mode: soft-light; /* multiply  color-burn soft-light */
  }
  .VPSidebar {
    opacity: 0.7; /* 增加透明度 */
  }
}
.dark {
  --vp-home-body-bg-image-gradient: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  body {
    background-image: var(--vp-home-body-bg-image),
    var(--vp-home-body-bg-image-gradient);
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
    background-blend-mode: multiply; /* multiply  color-burn soft-light */
  }
}
